h1, note, table th {
  color: /* Dark Beige */ rgb(63, 63, 31);
}

#background {
  background-color: /* Subtle Beige */ rgb(255, 255, 237);
  border-color: /* Beige */ rgb(127, 127, 63);
}

@keyframes blurInBlack {
  from { text-shadow: 0px 0px 0px black; }
  to { text-shadow: 0px 0px 5px black; }
}

.blurred {
  text-shadow: 0px 0px 5px black;
  color: rgba(0, 0, 0, 0.2);
  animation: blurInBlack 0.5s ease-in-out;
}

#largeQuote {
  background-color: /* Subtle Beige */ rgb(255, 255, 237);
  background-color: /* Subtle Beige */ rgba(255, 255, 237, 90%);
  border-color: /* Light Beige */ rgb(192, 192, 127);
}

table th {
  background-color: /* Light Beige */ rgb(192, 192, 127);
  border-left-color: /* Beige */ rgb(127, 127, 63);
}

table th.directions {
  background-color: white;
}

