:root{
  --text: black;
  --dark: rgb(63, 63, 31);
  --regular: rgb(127, 127, 63);
  --light: rgb(192, 192, 127);
  --subtle: rgb(255, 255, 237);
  --subtle-bg: rgba(255, 255, 237, 90%);
  --background: white;
}