h1, note, table th {
  color: /* Dark Beige */ rgb(63, 63, 31);
}

#background, #largequote {
  background-color: /* Subtle Beige */ rgb(255, 255, 237);
}

#background { border-color: /* Beige */ rgb(127, 127, 63); }

#largequote { border-color: /* Light Beige */ rgb(192, 192, 127); }

#largequote .closeinfo {
  color: /* Light Beige */ rgb(192, 192, 127);
}

table th {
  background-color: /* Light Beige */ rgb(192, 192, 127);
  border-left-color: /* Beige */ rgb(127, 127, 63);
}

table th.directions {
  background-color: white;
}

