.fixed {
  z-index: 8;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: fixed !important;
}

/* Quote */

#largeQuote {
  z-index: 20;
  top: 0;
  height: 100%;
  visibility: hidden;
  text-align: left;
  border-top: 5px solid gray;
  background: white;
}

#largeQuote .closebutton {
  font-family: monospace;
  float: right;
  font-size: 5em;
}

/* Style changer */

#title .tooltip {
  position: relative;
  top: -10px;
  font-size: .4em;
}

body, th, td, note, a {
  transition: all 0.5s ease-in-out;
  transition-property: color, background-color, border-color;
}

/* Table of Contents */

#container {
  height: 5em;
}

#contents {
  position: relative;
  padding: 5px;
  box-sizing: border-box;
}

#contents.fixed {
  top: 0;
  border-color: gray;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 1px solid transparent;
  border-right: none;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s;
}

/* „anderen“ strikethrough effect */

#anderen {
  position: relative;
}

@keyframes anderenline {
  0%   { width: 0%;}
  100% { width: 100%;}
}
#anderenline {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  width: 0%;
  border-top: 4px solid black;
  animation: anderenline 10s linear 3s forwards;
}