.fixed {
  z-index: 8;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: fixed !important;
}

/* Quote */

#quoteMenu {
  visibility: hidden;
  top: 0;
  z-index: 10;
}

#largeQuote {
  z-index: 20;
  top: 0;
  height: 100%;
  visibility: hidden;
  text-align: left;
  border-top: 5px solid gray;
}

#largeQuote .closebutton {
  font-family: monospace;
  float: right;
  font-size: 5em;
}

/* Table of Contents */

#container {
  height: 5em;
}

#contents {
  position: relative;
  padding: 5px;
  box-sizing: border-box;
}

#contents.fixed {
  top: 0;
  border-color: gray;
}

#background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 1px solid transparent;
  border-right: none;
  z-index: -1;
  opacity: 0;
}