/* Fantasque Sans Mono font */
@import url("fantasque/stylesheet.css"); 

body {
  font-family: 'Fantasque Sans Mono', monospace;
  margin: 0px;
  text-align: center;
}

a { text-decoration: none; }

li { text-align: left; }

note {
  font-weight: bold;
  font-style: normal;
}

place {
  font-family: 'Cambria', serif;
  font-variant: small-caps;
}

.fixed, .content {
  display: inline-block;
  width: 90%;
  max-width: 720px;
}

.fixed {
  position: fixed;
  background-color: #ffffff
}

#header {
  top: 0px;
  border-top: 5px solid gray;
}

#footer {
  box-sizing: border-box;
  bottom: 0px;
  border: 5px solid gray;
  border-top: 1px solid gray;
  border-right: none;
}

#largequote {
  height: 100%;
  visibility: hidden;
  text-align: left;
  border-top: 5px solid gray;
}

#largequote .closeinfo {
  float: right;
  font-style: italic;
  font-size: 12px;
}

table {
  font-style: italic;
  width: 100%;
  border-collapse: collapse;
  border: 1px solid gray;
}

table th {
  width: 90px;
  vertical-align: text-top;
  text-align: right;
  border-left: 5px solid gray;
  padding-right: 5px;
}

table td {
  text-align: justify;
  border: 1px dotted gray;
  border-left: 3px double gray;
  padding-left: 5px;
}

@media all and (max-width: 400px){
  table td{
    text-align: left;
  }
}

table th.directions {
  text-align: right;
  border-right: none;
