:root{
  --text: black;
  --background: white;
  --accent: black;
  --lqAccent: gray;
  
  --border: gray;
  --subtle: white;
  
  --speaker: white;
  --highlighted: white;
}

h1, note, table th { color: var(--accent); }
#anderenline { border-top-color: var(--accent); }

#background {
  background-color: var(--subtle);
  border-color: var(--border);
}

#largeQuote {
  opacity: 0.9;
  background-color: var(--subtle);
  border-color: var(--lqAccent);
}

.closebutton { color: var(--lqAccent); }

body {
  color: var(--text);
  background-color: var(--background);
}

table th {
  background-color: var(--speaker);
  border-left-color: var(--border);
}

.highlighted th { background-color: var(--highlighted); }
.highlighted td { color: var(--accent); }

.highlighted td, .js td:hover { background-color: var(--subtle); }
th.directions { background-color: var(--background); }

@keyframes blur {
  from {
    text-shadow: 0px 0px 0px var(--text);
    color: var(--text);
  } to {
    text-shadow: 0px 0px 5px var(--text);
    color: rgba(0, 0, 0, 0);
    }
}

.blurred { animation: blur 1s 0s ease-in-out normal forwards; }