:root{
  --text: black;
  --link: dimgray; /* 105 */
  --accent: black;
  
  --lqBorder: white;
  --border: gray; /* 128 */
  --subtle: lightgray; /* 211 */
  --background: white;
  
  --speaker: whitesmoke; /* 245 */
}

[theme=weiss] { font-style: italic; font-weight: bold; color: var(--accent); }